{% extends "base.html" %}

{% block title %}パスワードリセットを送信する{% endblock  %}

    {% block contents %}

    <div class='container'>
        <div class='row'>
            <div class='col offset-2 py-4'>
                <h5>パスワードリセットの手順を記載したメールをお送りしました。すぐにメールが届きます。</h5>
                <h6>メールが届かない場合は、登録したメールアドレスかどうか、迷惑メールフォルダもご確認ください。</h6>
                <br>
                <a href='{% url "news:index" %}'>トップページに戻る</a>
            </div>
        </div>
    </div>
    {% endblock %}