{% for record in object_list %}
  <div class="list">
      <img src='{{record.image1.url}}'
            width="100%" height="225"
            xmlns="http://www.w3.org/2000/svg"
            role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false">
      <title>プレースホルダー</title>
      <rect width="100%" height="100%" fill="#55595c"/>
    </img>
      </svg>
        <p>{{record.title}}</p>
            <button type="button"
                    onclick="location.href='{% url "news:news_detail" record.pk %}'">
                    閲覧</button>
            <button type="button"
                    onclick="location.href='{% url "news:news_cat" category=record.category.id %}'">
                    {{record.category.title}}</button>
          <a herf='{% url "news:user_list" user=record.user.id %}'>
          <small>{{record.user.username}}</small>
          </a>
  </div>
{% endfor %}